*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Backend Node.js
node_modules/
npm-debug.log
yarn-error.log
.env

# Mobile
*.apk
*.ap_
*.dex

# JVM Error Logs
hs_err_pid*
replay_pid*

# Android Studio / Kotlin Temp Files
.android_home/
.kotlin/
*.xml.gui
map_search.xml
view.xml

# IDE - Better IDEA ignore
.idea/
! .idea/vcs.xml
! .idea/deployment.xml
! .idea/planningMode.xml
