# Copy this file to 'keystore.properties' and fill in your actual values
# DO NOT check 'keystore.properties' into version control

storeFile=pikop-upload-key.jks
storePassword=211982
keyAlias=PikopKey
keyPassword=211982
